<Router AppAssembly="typeof(Startup).Assembly">
    <Found>
        <RouteView RouteData="@context"></RouteView>
    </Found>
    <NotFound>
        <h1>Nie dopasowano trasy</h1>
    </NotFound>

</Router>

@code {

}
