@using Microsoft.AspNetCore.Components.Forms
@using Digital_Patient.Models
@using Digital_Patient.Data
@inject NavigationManager Navigation
@using Microsoft.EntityFrameworkCore.Design
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ApplicationDbContext>  factory


<h3>TaskPanel</h3>

<h1>@UserId</h1>


<div class="container">
    <div class="row">
        <div class="col col-lg-3">
            Pacjenci
            @foreach (var u in allpatients.OrderBy(x=>x))
            {
                <div @onclick="@(()=>AddToMyPatients(u))">
                    @u
                </div>
            }
        </div>
        <div class="col col-lg-3">
            Moi Pacjenci
            @foreach (var u in patients.OrderBy(x=>x.Email))
            {
                <div>
                    @u.Email
                </div>
            }
        </div>
        <div class="col col-lg-3">
            Zadania
        </div>
        <div class="col col-lg-3">
            Dodaj Nowe
        </div>
    </div>
</div>










@code {

    [Parameter]
    public string UserId { get; set; }

    public string SelectedPatientEmail { get; set; }

    private Repository repository;

    List<ApplicationUser> patients = new List<ApplicationUser>();

    List<string> allpatients = new List<string>();

    protected async override Task OnParametersSetAsync()
    {


        ApplicationDbContext context = factory.CreateDbContext();
        repository = new Repository(context);

        patients = repository.GetDoctorPatients(UserId );

        List<string> listExcept = new List<string>();

        if(patients!=null&&patients.Count>0)
        {
            listExcept = patients.Select(x => x.Email).ToList();
        }

        allpatients = repository.GetAllPatients(listExcept);


    }

    public void AddToMyPatients(string Email)
    {
        repository.AddUserToDoctorPatients(Email, UserId);
    }


}
