@page "/taskhub"
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.SignalR.Client;


<button @onclick="UpdateTask">UpdateTask</button>



@code {

    private string UserId { get; set; }
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(navigationManager.ToAbsoluteUri("/taskhub"))
            .Build();

        //hubConnection.On<int>("UpdateTask", (TaskId) =>
        //{

        //    //// call  refresh tasks and view messages

        //    InvokeAsync(StateHasChanged);
        //});

        await hubConnection.StartAsync();
    }

    public async Task UpdateTask()
    {

        string UserId = "b391d91b-e56b-4215-8c23-682827809ff1";
        int TaskId = 0;

        try
        {
            await hubConnection.SendAsync("Update", UserId, TaskId);
        }
        catch (Exception e)
        {

        }
    }


}
