@model MainPageViewModel
@{ ViewData["Title"] = "Home Page"; }

@{  var cookie =
                 Context.Request.Cookies[".AspNetCore.Identity.Application"]; }

<style>

    .ChangeColor {
        background-color: orange;
        color: black;
    }


</style>


<script>
window.getCoords = async () => {
    const pos = await new Promise((resolve, reject) =>
    {
        navigator.geolocation.getCurrentPosition(resolve, reject);
    });
    /* return [pos.coords.longitude, pos.coords.latitude];*/

    var longitude = pos.coords.longitude;
    var latitude = pos.coords.latitude;

    return longitude +" " + latitude;
        
      };
</script>


<div class="text-center">

    @if (Model.Role == "Patient")
    {
<component type="typeof(Digital_Patient.Blazor.MainPage)" param-ApplicationUserId="@Model.UserId" param-UserRole="@Model.Role" param-Cookie1="cookie"       render-mode="Server" /> } @*<MainPage ApplicationUserId="@Model.UserId" Check="xxx" render-mode="Server"></MainPage>*@



</div>


<script>



    function changeMessageColorAndDissapear(text, elem) {

        elem.innerHTML = text;

        elem.classList.add("ChangeColor");

        setInterval(function () {
            elem.innerHTML = ""



        }, 5000);




    }
</script>