@model MainPageViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <component type="typeof(Digital_Patient.Blazor.MainPage)" param-ApplicationUserId="@Model.UserId"     param-UserRole="@Model.Role"      render-mode="Server"         />

    @*<MainPage ApplicationUserId="@Model.UserId" Check="xxx" render-mode="Server"></MainPage>*@

   

</div>
